<% @cities = City.all %>
<h1><%= @cities[@printers.first.city_id].name%></h1>
<h3>Listing Printers</h3>
<%=link_to 'Cities Index', cities_path, class: "btn btn-primary"%>



<div class= "container">

  <table class= "table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>City ID</th>
        <th>Company</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Rating</th>
      </tr>
    </thead>

    <tbody>
      <% @printers.each do |printer| %>
        <tr>

          <td><%= link_to 'Show', city_printer_path(:city_id, :id) %></td>

          <td><%= link_to 'Edit', edit_city_printer_path(printer, :id) %></td>

          <td><%= link_to 'Destroy', city_printers_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%=printer.city_id%></td>
          <td><%=printer.company%></td>
          <td><%=printer.number%></td>
          <td><%=printer.address%></td>
          <td><%=printer.rating%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<%#= link_to 'New Printer', new_printer_path %>
