<!DOCTYPE html>
<html>
	<!-- Head + title -->
	<head>
	  <title>DataOfCerberus</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag :defaults, 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

<!-- render navbar, include alerts below nav -->
	<body>
		<%= render 'layouts/nav' %>
		
		<div class="container">
			<% if notice.present? %>
		    <aside class="alert alert-success"> <%= notice %> </aside>
		 	<% end %>
	  	<% if alert.present? %>
	    	<aside class="alert alert-danger"> <%= alert %> </aside>
	    <% end %>
	  </div>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>
